
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

.btn {
	@apply font-bold inline-flex no-underline px-6 py-4 rounded-full text-white bg-blue cursor-pointer;
}

.input {
	@apply text-sm px-4 py-3 rounded w-full;

	&.is-invalid {
		@apply border-2 border-red-light;
	}
}

.label-error {
	@apply bg-red-light inline-block my-1 p-1 px-2 rounded font-medium text-sm;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

#triangle-homepage {
    transform: scale(1.5) translateX(20%);
}

#footer-border {
	background-image: url("data:image/svg+xml,%3Csvg width='48' height='34' viewBox='0 0 48 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.2465 34L47.571 0L23.0876 0.00012207L0.763184 34H25.2465Z' fill='%23FFC700'/%3E%3C/svg%3E%0A");
    height: 37px;
    background-size: 57px;
}