@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i|Teko:400,500,600,700');


/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

h1, h2, h3 {
	@apply font-serif;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.quick-info-container {
	background: hsla(26, 16%, 9%, 0.43);
	box-shadow: 0 -1px 0px hsla(38, 83%, 64%, 0.2);
	&>div {
		box-shadow: 1px 0px 0px rgba(239, 184, 87, .2);
	}
	&>div:last-of-type {
		box-shadow: none;
	} 
}
